.btn{
    height: 100px;
    width: 200px;
    border: 2px solid black;
    text-align: center;
    padding-top: 80px;
    font-weight:bolder;

    
}
body{
    background-color: antiquewhite;
}

#main{
    display: flex;
    justify-content:space-evenly;
}
#grey{
    background-color:grey ;
}
#white{
    background-color: white;
}
#yellow{
    background-color: yellow;
}

#red{
    background-color: red;
}
h2{
    text-align: center;
}